:root {
    --primary-color: #2196f3;
    --black: #000000;
    --white: #ffffff;
    --light-black: #212121;
    --dark-background: #2f303a;
    --grey: #757575;
    --light-grey: rgba(255, 255, 255, 0.6);
    --button-poftofolio-background: #f5f4fa;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Nagłowek i Stopka*/
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    text-decoration: none;
}

.logo-black {
    color: var(--black);
}

.logo-white {
    color: var(--white);
}

.contact-links {
    text-decoration: none;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14 /*16px*/;
    letter-spacing: 0.02em;
    color: var(--light-black);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-color);
}

.contact-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14 /*16px*/;
    letter-spacing: 0.02em;
    color: var(--grey);
}
.contact-links:hover,
.contact-links:focus {
    color: var(--primary-color);
}

/* MAIN PAGE -Studio EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU */
.dark-bg {
    background-color: var(--dark-background);
}

.order h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36 /*60px*/;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.order button {
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.articles > li > h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14 /*16px*/;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);
}

.articles > li > p {
    font-size: 14px;
    line-height: 1.71 /*24px*/;
    letter-spacing: 0.03em;
    color: var(--grey);
}

.jobs h2,
.our-team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-black);
}

/*Nasz Zespół Studio*/
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18 /*19px*/;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-black);
}
.job {
    font-size: 16px;
    line-height: 1.18 /*19px*/;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
}

/*Portofolio -sekcja Projekty*/
.filters button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62px;
    letter-spacing: 0.03em;
    width: 93px;
    height: 38px;
    background: var(--button-poftofolio-background);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.filters button:hover,
.filters button:focus {
    background-color: var(--primary-color);
    color: var(--white);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2 /*36px*/;
    letter-spacing: 0.06em;
    color: var(--light-black);
}
.project-subtitle {
    font-size: 16px;
    line-height: 1.87 /*30px*/;
    letter-spacing: 0.03em;
    color: var(--grey);
}

/* FOOTER */

.address-wrapper {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71 /*24px*/;
    letter-spacing: 0.03em;
}

.address-wrapper > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
}

.address-wrapper > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}

.address-wrapper > a:hover,
.address-wrapper > a:focus {
    color: var(--primary-color);
}

/*stylowanie flexem H03*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    outline: 1px dashed red;
}

/*nagłówek*/
.site-nav {
    border-bottom: 1px solid #ececec;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 80px;
    left: 0px;
    top: 5px;
    border-radius: 0px;
}

.flex-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-nav-child1 {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 93px;
}
.nav-links li {
    margin: 0 46px;
}
.contact-links{
    display: flex;
    list-style: none;
    gap:50px;
}

.flex-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
